.clsDogImg {
    height: 95%;
    width: 80%;

}

.custlist {
    color: rgb(2, 39, 39) ;   
    background-color:rgb(233, 235, 225);
    justify-content: center;
    display: flex;
    padding-top: 1rem;
}

table {
    border:0.5px solid grey;
    width: 70%;
}

.custlist_table_header {
    background-color: darkslategray;
    color: white;
}

.custlist_tblcolumn {
    
    font-weight: bold;
}
@media only screen and (max-width: 500px) {
    .custlist {
      font-size: 12px;      
    }
  }