.clsDogImg {
    height: 95%;
    width: 80%;

}

.custlist {
    color: rgb(2, 39, 39) ;   
    padding: 30px 30px 30px 30px;
    background-color:rgb(233, 235, 225);
}

table {
    border:0.5px solid grey;
    width: 70%;
}

.custlist_table_header {
    background-color: darkslategray;
    color: white;
}