.footer{
    background-color:rgb(233, 235, 225);
    
    border: 1px;
    padding: 15px 15px 15px 15px;
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
    color: rgb(2, 39, 39) ; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}